.autocomplete { 
  position: absolute;
  bottom: 100%;
  z-index: 1000;
  border: thin grey solid;
  background-color: white;
  box-shadow: 10px 5px 5px black;
}

img {
  border-radius: 50%;
  height: 1.2em;
  margin-right: 0.25em;
}

.tip {
  font-style: italic;
  color: darkgrey;
  border-bottom: thin lightgray dashed;
  margin-bottom: 0.1em;
}

.autocomplete-item:hover {
  cursor: pointer;
}
